Source: ros-galactic-nao-lola
Section: misc
Priority: optional
Maintainer: ijnek <kenjibrameld@gmail.com>
Build-Depends: debhelper (>= 9.0.0), ros-galactic-ament-cmake, ros-galactic-ament-lint-auto, ros-galactic-ament-lint-common, ros-galactic-nao-command-msgs, ros-galactic-nao-sensor-msgs, ros-galactic-rclcpp, ros-galactic-ros-workspace
Homepage: 
Standards-Version: 3.9.2

Package: ros-galactic-nao-lola
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, ros-galactic-nao-command-msgs, ros-galactic-nao-sensor-msgs, ros-galactic-rclcpp, ros-galactic-ros-workspace
Description: Packages that allow communicating with the NAO’s Lola middle-ware.
